.container-upload{
    .header-upload{
        .title{
            margin: 0;
        }
    }

    .info-upload{
        
        display: flex;

        .side-file-info{
            
            width: 30%;
        }

        .side-add-file{
            
            width: 70%;
            header{
                display: flex;
                justify-content: flex-end;
            }
            .container-upload-icons{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid gray;
                .upload-icons{
                    display: flex;
                }  
            }
            
        }
    }
}